body{
    background-color: #202020;
    
}

html{
    height: 100%;
}

.all{
    height: 324.93px;
    width: 485.29px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 471px;
    width: 100%;
}

.card{
    height: 173px;
    width: 296px;
    background-color: #737373;
    border-radius: 24px;
    position: absolute;
    background: linear-gradient(to bottom right, transparent, #373737);
    backdrop-filter: blur(15px);
    border-color: #373737;
}

.wifi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}


.wifi-dvakola-meastro{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 3px;
}

.namecard{
    display: flex;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    
}

.logo{
    position: relative;
    left: -4px;
    top: -61px;
}

.dvakola{
    position: absolute;
    
}
